body {
  background-color: #F8FAF8;
  overflow: hidden;
}

#flag {
  width: 80px;
  height: auto;
}

#background {
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode:overlay;
}